@import '../Components/PalletColor/PalletColor.scss';

.ContainerFunctionalityPrincipal{
    display: flex;
    flex-direction: column;

    .ContainerFiltersFuncionality{
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
    }

    .ContainerFaixasPrincipal{
        display: flex;
    }
}