$PrimaryWhite: white;
$PrimaryBlack: black;
$PrimaryBlack_HOVER:rgb(41, 41, 41);
$PrimaryGreen: #008B76;
$PrimaryGreen_HOVER: #00b196;
$PrimaryGreen_ACTIVE: #008B76;
$PrimaryGreen_LINK: #00CE7C;
$SecondaryGreen: rgba(0, 139, 118, 0.12);