$PrimaryWhite: white;
$PrimaryWhite_HOVER: rgb(214, 214, 214);
$PrimaryWhite_HOVER2: rgba(255, 255, 255, 0.158);
$PrimaryBlack: black;
$PrimaryBlack_HOVER:rgb(41, 41, 41);
$PrimaryGreen: #008B76;
$PrimaryGreen_HOVER: #00b196;
$PrimaryGreen_ACTIVE: #008B76;
$PrimaryGreen_LINK: #00CE7C;
$SecondaryGreen: rgba(0, 139, 118, 0.12);